* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


body {
    background-image: url("https://plus.unsplash.com/premium_photo-1694141252132-2555bae46f50?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8cmVjaXBlJTIwZGFya3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&q=60&w=600");
    background-size:cover;
    color: white;
}

header nav {
     background-color: #8e984d;
     padding: 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

header nav h1 {
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
}

header nav form {
    display: flex;
    justify-content: center; 
}

form input[type="text"] {
    margin-right: 15px;
}

form input[type="text"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
}

form button[type="submit"] {
    background-color: #f44336;
    color: white;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #ff5c5c;
}

button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
}

.recipe-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 10px auto;
}

.recipe {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1);
    cursor: pointer;
    max-width: 350px;
}

.recipe button:hover {
    background-color: #ff5c5c;
}

.recipe img {
    height: 300px;
}

.recipe h3 {
    font-size: 24px;
}

.recipe p {
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:18px auto;
    background-color: #f44336;
    color: #fff;
}

.recipe-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #694c2f;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    overflow-y: scroll;
} 


@media screen and (max-width:600px) {
    header nav form {
        flex-direction: column;
    }
    header nav form {
        width: 80px;
        margin-top: 20px;
    }
}

 
.recipe-details-content {
    padding: 30px;
 } 

.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 20px;
}

.ingredientList li {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}



.recipeInstructions p {
    line-height: 30px;
    margin-bottom: 20px;
}

.recipe-close-btn {
    border: none;
    font-size: 18px;
    padding: 10px;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    background-color: #f44336;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}